<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Daftar Peserta</title>
    </head>
    <body>
        <section layout:fragment="content">
            <h1 class="page-header">Daftar Peserta</h1>

            <a class="btn btn-primary btn-lg" th:href="@{/peserta/form}">Tambah Peserta Baru</a>

            <hr />

            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nama Peserta</th>
                        <th>Email</th>
                        <th>Handphone</th>
                        <th>Institusi</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="peserta : ${daftarPeserta}">
                        <td th:text="${peserta.nama}">Endy Muhardin</td>
                        <td th:text="${peserta.email}">endy.muhardin@gmail.com</td>
                        <td th:text="${peserta.nomerHandphone}">081234567890</td>
                        <td th:if="${peserta.institusi}" th:text="${peserta.institusi.kode} +' - '+ ${peserta.institusi.nama}">BR-001 - Brainmatics</td>
                        <td th:unless="${peserta.institusi}"> - </td>
                        <td>
                            <a th:href="@{/peserta/form(id=${peserta.id})}" class="btn btn-xs">
                                edit
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a th:href="@{/peserta/delete(id=${peserta.id})}">
                                hapus
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-sm-6">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </body>
</html>
